### Let's train another  model with the variables we have so far

In [94]:
import pandas as pd

In [95]:
pd.set_option("display.max_columns", None)
startups = pd.read_csv("../../notebooks/Web_scraping/startups_with_valuation_v_final.csv")

In [96]:
startups.head()

,Unnamed: 0,permalink,name,market,funding_total_usd,status,country_code,city,funding_rounds,founded_at,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H,delta_founded_vs_firstfunding,valuation
0,15,/organization/10-minutes-with,10 Minutes With,Education,4400000,operating,GBR,London,2.0,2013-01-01,2013.0,2013-01-01,2014-10-09,400000.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.000
1,17,/organization/1000-corks,1000 Corks,Search,40000,operating,USA,Lake Oswego,1.0,2008-01-01,2008.0,2011-08-23,2011-08-23,40000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1330.0,0.218
2,27,/organization/100plus,100Plus,Analytics,1250000,acquired,USA,San Francisco,2.0,2011-09-16,2011.0,2011-11-02,2011-11-30,750000.0,500000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,136.000
3,28,/organization/1010data,1010data,Software,35000000,operating,USA,New York,1.0,2000-01-01,2000.0,2010-03-08,2010-03-08,0.0,35000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3719.0,210.000
4,30,/organization/10bestthings,10BestThings,Curated Web,50000,closed,USA,Cleveland,1.0,2009-04-01,2009.0,2009-04-01,2009-04-01,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.273

In [97]:
startups.drop('Unnamed: 0', axis=1, inplace=True)

In [98]:
startups.sample(5)

,permalink,name,market,funding_total_usd,status,country_code,city,funding_rounds,founded_at,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H,delta_founded_vs_firstfunding,valuation
14402,/organization/revstr,Revstr,Startups,40000,operating,FRA,Lille,1.0,2012-12-20,2012.0,2013-12-13,2013-12-13,40000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,358.0,0.218
18791,/organization/wallit,Wallit,Social Media,1200000,operating,USA,Berkeley,1.0,2011-08-12,2011.0,2012-03-06,2012-03-06,1200000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,207.0,7.000
8642,/organization/irule,iRule,Software,1803277,operating,USA,Detroit,3.0,2009-01-01,2009.0,2011-11-28,2013-07-24,0.0,1803277.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1703277.0,100000.0,0.0,0.0,0.0,0.0,0.0,0.0,1061.0,0.545
13296,/organization/postmaster-io,Postmaster,Software,718000,operating,USA,Austin,2.0,2012-10-01,2012.0,2013-01-15,2013-05-21,718000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,106.0,3.000
2889,/organization/candy-lab,Candy Lab,Brand Marketing,155000,operating,USA,St Louis,2.0,2011-04-15,2011.0,2013-01-01,2014-08-05,105000.0,0.0,0.0,0.0,0.0,0.0,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,627.0,0.109

### My predictor is going to be a quantitative column "valuation", and the variables are going to be all the numerical ones

In [99]:
startups.dtypes

permalink                         object
name                              object
market                            object
funding_total_usd                  int64
status                            object
country_code                      object
city                              object
funding_rounds                   float64
founded_at                        object
founded_year                     float64
first_funding_at                  object
last_funding_at                   object
seed                             float64
venture                          float64
equity_crowdfunding              float64
convertible_note                 float64
debt_financing                   float64
angel                            float64
grant                            float64
private_equity                   float64
post_ipo_equity                  float64
post_ipo_debt                    float64
secondary_market                 float64
product_crowdfunding             float64
round_A                          float64
round_B                          float64
round_C                          float64
round_D                          float64
round_E                          float64
round_F                          float64
round_G                          float64
round_H                          float64
delta_founded_vs_firstfunding    float64
valuation                        float64
dtype: object

### There are some categorical values that I would like to take into account, such as the country or market, for that we will use rank encoding initially

In [100]:
top_20_countries = startups.country_code.value_counts().head(20)

In [101]:
top_20_countries_df = pd.DataFrame(top_20_countries)

In [102]:
top_20_countries_df["rank"] = range(1, len(top_20_countries_df)+1)

In [103]:
top_20_countries_df.drop('country_code', axis=1, inplace=True)

In [104]:
countries = top_20_countries_df.to_dict(orient="index")

In [105]:
countries["USA"]['rank']

1

In [106]:
top_20_countries_list = countries.keys()

In [107]:
def country_ranking(x):
    if x in top_20_countries_list:
        return countries[x]['rank']
    else:
        return 21

In [108]:
ranking_country = []

In [109]:
for i, row in startups.iterrows():
    name = row["country_code"]
    ranking = country_ranking(name)
    ranking_country.append(ranking)

In [110]:
ranking_country[:20]

[2, 1, 1, 1, 1, 12, 1, 12, 1, 21, 15, 1, 11, 1, 1, 1, 8, 1, 1, 1]

In [111]:
startups["country_ranking"] = ranking_country

In [112]:
startups.head()

,permalink,name,market,funding_total_usd,status,country_code,city,funding_rounds,founded_at,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H,delta_founded_vs_firstfunding,valuation,country_ranking
0,/organization/10-minutes-with,10 Minutes With,Education,4400000,operating,GBR,London,2.0,2013-01-01,2013.0,2013-01-01,2014-10-09,400000.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.000,2
1,/organization/1000-corks,1000 Corks,Search,40000,operating,USA,Lake Oswego,1.0,2008-01-01,2008.0,2011-08-23,2011-08-23,40000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1330.0,0.218,1
2,/organization/100plus,100Plus,Analytics,1250000,acquired,USA,San Francisco,2.0,2011-09-16,2011.0,2011-11-02,2011-11-30,750000.0,500000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,136.000,1
3,/organization/1010data,1010data,Software,35000000,operating,USA,New York,1.0,2000-01-01,2000.0,2010-03-08,2010-03-08,0.0,35000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3719.0,210.000,1
4,/organization/10bestthings,10BestThings,Curated Web,50000,closed,USA,Cleveland,1.0,2009-04-01,2009.0,2009-04-01,2009-04-01,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.273,1

### I have elaborated a rank encoding column for the country of each startup based on the frequency of the country within the dataset. Now I will perform the same operation but for the market

In [113]:
top_20_markets = startups.market.value_counts().head(20)

In [114]:
top_20_markets

 Software                2247
 Biotechnology           1683
 Mobile                   913
 Enterprise Software      674
 E-Commerce               673
 Curated Web              649
 Health Care              610
 Hardware + Software      539
 Advertising              488
 Games                    468
 Clean Technology         466
 Health and Wellness      375
 Social Media             364
 Education                333
 Analytics                330
 Finance                  318
 Semiconductors           270
 Security                 267
 Manufacturing            237
 Web Hosting              211
Name: market, dtype: int64

In [115]:
top_20_markets_df = pd.DataFrame(top_20_markets)

In [116]:
top_20_markets_df["rank"] = range(1, len(top_20_markets_df)+1)

In [117]:
top_20_markets_df.drop('market', axis=1, inplace=True)

In [118]:
markets = top_20_markets_df.to_dict(orient="index")

In [119]:
markets[" Finance "]["rank"]

16

In [120]:
top_20_markets_list = markets.keys()

In [121]:
def market_ranking(x):
    if x in top_20_markets_list:
        return markets[x]['rank']
    else:
        return 21

In [122]:
ranking_market = []

In [123]:
for i, row in startups.iterrows():
    name = row["market"]
    ranking = market_ranking(name)
    ranking_market.append(ranking)

In [124]:
ranking_market[:20]

[14, 21, 15, 1, 6, 21, 2, 3, 21, 21, 1, 19, 3, 21, 1, 1, 16, 5, 21, 1]

In [125]:
startups["market_ranking"] = ranking_market

In [126]:
startups.head()

,permalink,name,market,funding_total_usd,status,country_code,city,funding_rounds,founded_at,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H,delta_founded_vs_firstfunding,valuation,country_ranking,market_ranking
0,/organization/10-minutes-with,10 Minutes With,Education,4400000,operating,GBR,London,2.0,2013-01-01,2013.0,2013-01-01,2014-10-09,400000.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.000,2,14
1,/organization/1000-corks,1000 Corks,Search,40000,operating,USA,Lake Oswego,1.0,2008-01-01,2008.0,2011-08-23,2011-08-23,40000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1330.0,0.218,1,21
2,/organization/100plus,100Plus,Analytics,1250000,acquired,USA,San Francisco,2.0,2011-09-16,2011.0,2011-11-02,2011-11-30,750000.0,500000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,136.000,1,15
3,/organization/1010data,1010data,Software,35000000,operating,USA,New York,1.0,2000-01-01,2000.0,2010-03-08,2010-03-08,0.0,35000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3719.0,210.000,1,1
4,/organization/10bestthings,10BestThings,Curated Web,50000,closed,USA,Cleveland,1.0,2009-04-01,2009.0,2009-04-01,2009-04-01,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.273,1,6

In [127]:
startups = startups[startups["valuation"].notnull()]

### Let's now drop those columns that we will not be using

In [128]:
startups.drop(['permalink', 'name', 'market','status', 'country_code', 'city', 'founded_at', 'first_funding_at', 'last_funding_at'], axis=1, inplace=True)

In [129]:
X = startups.drop('valuation', axis=1)

In [130]:
y = startups['valuation']

In [131]:
from sklearn.model_selection import train_test_split as tts

In [132]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)

### Let's train a Simple Linear Regression

In [133]:
from sklearn.linear_model import LinearRegression as LinReg

In [134]:
linreg=LinReg()

In [135]:
linreg.fit(X_train, y_train)

LinearRegression()

In [136]:
linreg.coef_

array([-1.49264193e-06, -1.98547552e+02, -4.67879945e+01,  2.01527073e-04,
        1.05398802e-05, -8.32054091e-05, -2.34305232e-04,  6.74804530e-05,
        5.33817122e-05,  6.38937073e-06,  2.74328426e-06,  1.06230427e-05,
        1.26829658e-05,  1.36310184e-04, -9.76786503e-05,  1.74826265e-05,
       -1.21322558e-05,  6.06038714e-05,  5.67301983e-05, -1.16463634e-05,
       -1.45890700e-05,  1.57746586e-04, -2.94144640e-04,  2.06758792e-01,
        1.52862239e+00,  1.85085475e+01])

In [137]:
linreg.intercept_

93790.39750764563

In [138]:
y_pred=linreg.predict(X_test)

In [139]:
y_pred[:10]

array([ -84.24036063, -333.37012647, 1975.07771163,  -70.2052049 ,
        -69.69678173, 1593.89529634, -250.593491  ,  241.70136363,
        659.88176705, -264.24137717])

In [140]:
y_test[:10]

17940     43.000
14617      0.136
1499     109.000
6070       0.136
7702       1.000
2827     545.000
1439      22.000
14582     14.000
11548      2.000
2127       5.000
Name: valuation, dtype: float64

### Let's take a look at the metrics

In [141]:
from sklearn import metrics
import numpy as np

In [142]:
'MAE - Error Medio Absoluto', metrics.mean_absolute_error(y_test, y_pred)

('MAE - Error Medio Absoluto', 1267.2268490003253)

In [143]:
'MSE - Error Cuadratico Medio', metrics.mean_squared_error(y_test, y_pred)

('MSE - Error Cuadratico Medio', 270984645.4235019)

In [144]:
'RMSE - Raiz Error Cuadratico Medio', metrics.mean_squared_error(y_test, y_pred)**0.5

('RMSE - Raiz Error Cuadratico Medio', 16461.611264499654)

In [146]:
'R2 - Coeficiente de Determinacion', metrics.r2_score(y_test, y_pred)

('R2 - Coeficiente de Determinacion', 0.0936217354853206)

### This model doesn't look very promising at all